{{!
    Component 1 template
    @package    mod_sample/component1
    @copyright  2017 https://github.com/virgilioneto
    @author     Virgilio Neto <virgilio.missao.neto@gmail.com>
    @license    http://www.gnu.org/copyleft/gpl.html GNU GPL v3 or later
}}
{{!
    @template mod_sample/component1

    Classes required for JS:
    * None

    Data attibutes required for JS:
    * None

    Context variables required for this template:
    * items

    Example context (json):
    {
        items: [
            {
                id: {Number},
                title {String},
                htmltext: {HTMLString},
                value1: {Number},
                value2: {Number}
            }
        ]
    }
}}
{{#items}}
<div class="col-md-3">
    <div class="card">
        <header class="card-header">{{id}} - {{title}}</header>
        <div class="card-block">{{{htmltext}}}</div>
        <footer class="card-header">{{value1}} / {{value2}}</footer>
    </div>
</div>
{{/items}}