{{!
    Loader template
    @package    mod_sample/loader
    @copyright  2017 https://github.com/virgilioneto
    @author     Virgilio Neto <virgilio.missao.neto@gmail.com>
    @license    http://www.gnu.org/copyleft/gpl.html GNU GPL v3 or later
}}
{{!
    @template mod_sample/loader

    Classes required for JS:
    * None

    Data attibutes required for JS:
    * None

    Context variables required for this template:
    * items

    Example context (json):
    { }
}}
{{#pix}}y/loading, core, {{#str}}loadingtext, mod_sample{{/str}}{{/pix}}