{{!
    View template
    @package    mod_sample/view
    @copyright  2017 https://github.com/virgilioneto
    @author     Virgilio Neto <virgilio.missao.neto@gmail.com>
    @license    http://www.gnu.org/copyleft/gpl.html GNU GPL v3 or later
}}
{{!
    @template mod_sample/view

    Classes required for JS:
    * None

    Data attibutes required for JS:
    * None

    Context variables required for this template:
    * items

    Example context (json):
    { }
}}
<div id="view-item-list"></div>
<div id="view-item-form"></div>